# This is a basic workflow to help you get started with Actions

name: Continuous build & publication

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches:
      - "main"
      - "master"
  pull_request:
    branches:
      - "main"
      - "master"
      - "release/**"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checking out repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Set up Chrome
        uses: browser-actions/setup-chrome@v1
        with:
          install-dependencies: true

      - run: chrome --version

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm ci

      - name: Build library
        run: npm run build:lib

      - name: Build application
        run: npm run build

      - name: Test library
        run: npm run test:ci

      - name: Test application
        run: npm run test:lib-ci

      - name: Lint
        run: npm run lint:lib

      - name: Tag
        id: tag_step
        if: startsWith(github.ref, 'refs/heads/release/')
        run: |
          # Extract the base version from the branch name
          BASE_VERSION=$(echo "${GITHUB_REF#refs/heads/release/}")
          
          # Get the latest tag matching the base version
          LATEST_TAG=$(git describe --tags --match "v${BASE_VERSION}.*" --abbrev=0 || echo "v${BASE_VERSION}.0")
          
          # Increment the patch version
          PATCH_VERSION=$(echo $LATEST_TAG | awk -F. '{print $NF+1}')
          VERSION="${BASE_VERSION}.${PATCH_VERSION}"
          
          # Create and push the new tag
          git tag v$NEW_TAG
          git push origin v$NEW_TAG
          
          # Set outputs
          echo "::set-output name=VERSION::$VERSION"

      - name: Publish
        if: startsWith(github.ref, 'refs/heads/release/')
        run: |
          VERSION=${{ steps.tag_step.outputs.VERSION }}
          npm run publish:lib $VERSION
